.forecast__container {
    display: flex;
    flex-wrap: wrap;
    padding: 3rem;
    justify-content: space-between;
}

@media (min-width: 1080px) {
    
    .forecast__container {
        padding: 1rem;
        flex-wrap: nowrap;
        height: 40vh;
        align-items: center;
        justify-content: space-evenly;
    }
}