.highlight__card {
    background-color: $bg-light;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 9rem;
    border-radius: 7px;
    margin-bottom: 2rem;

    &-title {
        text-transform: capitalize;
        margin-top: 1rem;
        font-weight: 500;
        color: $letters-color-grey;
        font-size: 1.2rem;
    }

    &-info {
        font-size: 4rem;
        margin-bottom: 1rem;
        font-weight:700;
    }
}

.units {
    font-size: 2rem;
    font-weight: 600;;
}

.humidity__bar {
    width: 80%;
    height: 0.5rem;
    background-color: $letters-color;
    border-radius: 7px;
    position: relative;
    margin-bottom: 2rem;
    overflow: hidden;


    &-filled {
        width: 0%;
        background-color: #FFEC65;
        height: 100%;
        transition: width 1.5s ease-in-out;
        border: solid 1px black;
        border-radius: 7px;

    }

    &-text {
        margin-top: 0.5rem;
        display: flex;
        color: $letters-color;
        font-size: 0.7rem;
        justify-content: space-between;
    }
}

.wind-direction {
    .circle {
        background-color: $button-bg;
        border-radius: 500px;
        padding: 0.4rem;
        margin-bottom: 1rem;

        .navigation-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1rem;
            transition: transform 1.5s ease-in-out;
            color:  rgb(255, 255, 255);
        }
    }
}

@media ( min-width: 1080px ) {
    .highlight__card {
        width: 40%;

        
    }
}