.highlights {
    padding: 1.5rem 1rem;

    &-title {
        align-self: flex-start;
        text-transform: capitalize;
    }
    
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 90vh;
    }

    
}