@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: Raleway;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    background-color: $bg-dark;
    color: $letters-color
}

.btn {
    border: none;
    background-color: transparent;
    color: $letters-color;
    margin: 1rem 0.5rem;
}

.pointer {
    cursor: pointer;
}

@media ( min-width: 1080px ) {

    html, body {
        height:100vh
    }
    #root {
        display: flex;
        overflow: hidden;
    }

    .main {
        flex: 1 1 70%;
        height: 100vh;
    }
}